/.places
elpa/
build/
/.saved-places
/ac-comphist.dat
/bookmarks
/custom.el
/org-clock-save.el
/tramp
/url/
/eshell/
/eproject.lst
/var/
/vendor/
/private/*
/image-dired/
/backups/
/.DS_Store
/network-security.data
xkcd/
