[submodule "src/orgmode-mediawiki"]
	path = src/orgmode-mediawiki
	url = https://github.com/craftkiller/orgmode-mediawiki.git
[submodule "src/org"]
	path = src/org
	url = git://orgmode.org/org-mode.git
[submodule "src/mu"]
	path = src/mu
	url = https://github.com/djcb/mu.git
