//-*-css-*-
// import the CSS framework

$navbar-height: 90px;

@import "bootstrap-sprockets";
@import "bootstrap";

/* General */
section {
    @extend .row;
    margin-top: 20px;
}

.shadow {
    -webkit-box-shadow: 8px 8px 6px -6px #999;
    -moz-box-shadow: 8px 8px 6px -6px #999;
    box-shadow: 8px 8px 6px -6px #999;
}

.box {
    @extend .shadow;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}
.content {
    @extend .box;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
  }

.form {
  @extend .col-md-6;
  }

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

main {
  @extend .container;
  height: auto;
  width: 100%;
  padding-bottom: 80px;
}

/* Make background gradient */
body, html {
    background-color: rgb(254,255,232);  /* Old browsers */
    $experimental-support-for-svg: true;
    background-image: linear-gradient(left top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%);
    height: 100%;
    background-repeat: no-repeat;
}

/* make all images responsive by default */
img {
  @extend .img-responsive;
  margin: 0 auto;
}

/* Navbar */

/* override for the 'Home' navigation link */
.navbar {
    @extend .shadow;
    background-color: white;
    height: 3em;
}

.navbar-brand {
    font-size: 3em;
    font-weight: bold;
    color: teal;
  }

/* Round user badge */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 20px;
    .dropdown-menu {
        margin-top: -20px;
    }
}

img.img-circle {
    width: 50px;
    height: 50px;
}

/* Sidebar */
.user-info {
    @extend .box;
    @extend .panel;
    h1 {
        font-size: 1.1em;
        line-height: 3em;
        img {
            float: left;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.left-bar {
    margin-right: 20px;
    margin-left: 20px;
}
